
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position:relative;
  background-color: #121212 !important;
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  line-height: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.navbar{
  padding:18px 0;
  position:fixed;
  width:100%;
  top:0;
  z-index: 9999;
  transition: .32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand{
  width:20%;
  font-weight: 400;
  color:#fff !important;
  letter-spacing: .8px;
  padding:0 25px;
  font-size: 18px;
}

nav.navbar .navbar-nav .nav-link.navbar-link{
  font-weight: 400;
  color:#fff !important;
  letter-spacing: .8px;
  padding:0 25px;
  font-size: 18px;
  opacity:.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity:1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus{
  outline:none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width:24px;
  height:17px;
  background-image:none;
  position:relative;
  border-bottom: 2px solid #fff;
  transition:all 300ms linear;
  top:-2px;
}

nav.navbar .navbar-toggler-icon:focus{
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width:24px;
  position:absolute;
  height:2px;
  background-color: #fff;
  top:0;
  left:0;
  content:'';
  z-index:2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top:8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
  transform: rotate(45deg);
  background-color: #fff;
  height:2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform:translateY(8px) rotate(-45deg);
  background-color:#fff;
  height:2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.banner {
  margin-top:0;
  padding:260px 0 100px 0;
  background-image: url(https://i.imgur.com/bm0B7zn.jpg); /* REPLACE WITH IMAGE FOR PROFILE BACKGROUND */
  background-color:#00000085;
  background-blend-mode:color;
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.9px;
  padding:8px 10px;
  background: linear-gradient(130.7deg, rgba(250, 38, 102, 0.5) -5.91%, rgba(40, 6, 163, 0.5) 90.3%);
}

#test{
  display: flex;
  justify-content: start !important;
}
#icon{
  display: flex;
  justify-content: flex-end;
  
}
#icon img{
  border-radius: 50%;

}

#level{
  position: relative;
  background-color: black;
  border-radius: 5px;
  right: 80px;
  top: 120px;
  height: 21px;
  width: 35px;
}

.topChamps{
  justify-content: start;
  display: flex;
}

.topChamps img{

  border-radius: 50%;
  height: 80px;
  width: 80px;
}