<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<head>
		<title> Login Page </title>
	</head>
	<body>
		<div class="hero">
			<div class="form-box">
				<div class="button-box">
					<div id="btn"></div>
					<button type="button" class="toggle-btn" onclick="login()"> Log In </button>
					<button type="button" class ="toggle-btn" onclick="register()"> Register </button>
				</div>
				<form th:action="@{/login}" th:object="${user}" method="post" id="login" class="input-group">
					<div th:if="${param.error}">
						<div class="alert alert-danger" > Invalid username or password </div>
					</div>
					<input th:field="*{username}" id="username" type="text" class="input-field" placeholder="Member Login" autocomplete="off" required>
					<input th:field="*{password}" id="password" type="password" class="input-field" placeholder="Enter Password" autocomplete="off" required>
					<span> <i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i></span>
					<input type="checkbox" class="check-box"><span> Remember Password </span>
					<button type="submit" name="login-submit" id="login-submit" class="submit-btn"> Log In</button>
				</form>
				<form th:action="@{/process_register}" method="post" th:object="${user}" id="register" class="input-group">
					<input th:field="*{username}" type="text" class="input-field" placeholder="Username" required minlength="5" maxlength="16" autocomplete="off">
					<input th:field="*{gamerTag}" type="text" class="input-field" placeholder="Gamer-tag" autocomplete="off" required >
					<input th:field="*{password}" type="password" class="input-field" placeholder="Enter password" autocomplete="off" required>
					<span> <i class="fa fa-eye" aria-hidden="true" id="eye1" onclick="toggle()"></i></span>
					<input th:field="*{confirmPassword}" type="password" class="input-field" placeholder="Confirm password" autocomplete="off" required>
					
					<span> <i class="fa fa-eye" aria-hidden="true" id="eye2" onclick="toggle()"></i></span>
					<input type="checkbox" class="check-box" required><span> I agree to the terms & conditions </span>
					<button type="submit" class="submit-register-btn"> Register </button>
				</form>
			</div>
		</div>
		<script>
			const x = document.getElementById("login");
			const y = document.getElementById("register");
			const z = document.getElementById("btn");
			
			function register(){
				console.log(x.style.left);
				x.style.left = "-350px";
				y.style.left = "50px";
				z.style.left = "110px";
			}
			
			function login(){
				x.style.left = "60px";
				y.style.left = "450px";
				z.style.left = "0px";
			}
			
		
			
			let state = false;
			
			function toggle(){
				if(state){
					document.getElementById("password").setAttribute("type", "password");
					state = false;
				}
				else{
					document.getElementById("password").setAttribute("type", "text");
					state = true;
				}
			}
		</script>
	
	</body>
</html>